<h1> Movie Query </h1>

<%= link_to "Return to Discover Page", "/users/#{@user.id}/discover", data: {turbo_method: :get} %>

<br><br>

<section class="movies_list">
  <% @requested_movies.each do |movie| %>
    <%= link_to "#{movie["title"]}", "/users/#{@user.id}/movies/#{movie["id"]}", data: {turbo_method: :get} %>
    <p> Vote Average: <%= movie["vote_average"] %> </p>
  <% end %>
</section>