<h1> Viewing Party Show Page </h1>

<h4> All Buy/Rent data is provided by JustWatch </h4>

<h3> Where to buy the movie (e.g. Apple TV, Vudu, etc.) </h3>

  <% @where_to_buy.each do |provider| %>
    <p> <%= provider["provider_name"] %> </p>
    <img src="https://image.tmdb.org/t/p/original/<%= provider["logo_path"] %>" width="40px">
  <% end %>

<h3> Where to rent the movie (e.g. Amazon Video, DIRECTV, etc.) </h3>

  <% @where_to_rent.each do |provider| %>
    <p> <%= provider["provider_name"] %> </p>
    <img src="https://image.tmdb.org/t/p/original/<%= provider["logo_path"] %>" width="40px">
  <% end %>