<h1> Viewing Party Show Page </h1>

<h3> Where to buy the movie (e.g. Apple TV, Vudu, etc.) </h3>
<p> Logos go here </p>

<h3> Where to rent the movie (e.g. Amazon Video, DIRECTV, etc.) </h3>
<p> Logos go here </p>

And I should see a data attribution for the JustWatch platform that reads: 
"Buy/Rent data provided by JustWatch",
as per TMDB's instructions.